<ul class="flex items-center h-20 bg-blue-200 px-4 space-x-4">
    <li class="p-2 rounded-md" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="bg-blue-300"><a routerLink="">Home</a></li>
    <li class="p-2 rounded-md" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="bg-blue-300"><a routerLink="/first">First</a></li>
    <li class="p-2 rounded-md" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="bg-blue-300"><a routerLink="/second">Second</a></li>
    <li class="p-2 rounded-md" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="bg-blue-300"><a routerLink="/about">About</a></li>
</ul>